.addSchedule {
    width:80px;
    height: 35px;
    margin-left: 1085px;
}

.writebutton {
    width:80px;
    height: 35px;
    margin-left: 10px;
}

.alarm {
    width: 35px;
    margin-left: 10px;
    margin-right: 35px;
}